{% assign education = site.data.education %}
{% if education %}
<section class="education-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
  <ul class="list-unstyled resume-education-list">
    {% for item in education %}
    <li class="mb-3">
      <div class="resume-degree font-weight-bold">{{ item.degree }}</div>
      <div class="resume-degree-org text-muted">{{ item.university }}</div>
      <div class="resume-degree-time text-muted">{{ item.time }}</div>
    </li>
    {% endfor %}
  </ul>
</section><!--//education-section-->
{% endif %}
