{% assign experiences = site.data.experiences %}
{% if experiences %}
<section class="work-section py-3">
  <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
  {% for item in experiences %}
  <div class="item mb-3">
    <div class="item-heading row align-items-center mb-2">
      <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">{{ item.role }}</h4>
      <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">{{ item.company }} | {{ item.time }}</div>
    </div>
    <div class="item-content">
      {{ item.details | markdownify }}
    </div>
  </div><!--//item-->
  {% endfor %}

</section><!--//work-section-->

{% endif %}
