<div class="resume-body">
  <div class="row">
    <div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">

      {% include experiences.html %}

      {% include projects.html %}

    </div><!--//resume-main-->
    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">

      {% include skills.html %}

      {% include education.html %}

      {% include awards.html %}

      {% include languages.html %}

      {% include interests.html %}

    </aside><!--//resume-aside-->
  </div><!--//row-->
</div><!--//resume-body-->

